@import 'common/var.scss';
@import 'common/mixins.scss';
@import 'common/animation.scss';
@import 'reset.css';
@import 'template/template_defoult.scss';
@import 'all.min.css';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


.main {
    background: #f6f6f6;

    &__blog {
        background: $color4;

        &-title {
            padding: 20px 0;
            margin-left: 160px;

            p {
                font-family: "Montserrat", Sans-serif;
                font-weight: 400;
                padding-left: 40px;
            }
        }

        &-link {
            padding: 20px 0;

            p {
                font-family: "Roboto", Sans-serif;
                font-size: 0.8rem;
                color: #79787F;
            }

            a {
                font-family: "Roboto", Sans-serif;
                text-decoration: none;
                color: #79787F;
                font-size: 0.8rem;
            }

            a:hover {
                text-decoration: underline;
            }
        }
}
}
.article_block {
    display: flex;
    margin-top: 50px;
    border-bottom: 1px solid $color05;

    .data_article {
        width: 80px;
        height: 80px;
        background: $color05;
        border-radius: 100%;
        transition: all .3s ease;

        .apr {
            text-align: center;
            margin-top: 15px;

            p.number_date {
                color: $color2;
                font-size: 1.8rem;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 5px;
            }

            p.text_date {
                font-size: 0.8rem;
                font-family: 'Montserrat', sans-serif;
            }
        }
    }

    .data_article:hover {
        background: $color2;

        p.number_date,
        p.text_date {
            color: $color1;
        }
    }
}

.basic_informaition {
    margin-left: 20px;
    padding-bottom: 100px;

    a.link_post {
        display: block;
        position: relative;
        overflow: hidden;
        width: 660px;

        img {
            display: block;
        }
    }

    a.link_post:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        transition: opacity .3s ease;
    }

    a.link_post:hover:before {
        opacity: 1;
    }

    p.author_name {
        margin-top: 25px;
        color: $color06;
        word-spacing: 2px;
        font-size: 0.8rem;
        font-family: 'Roboto', sans-serif;

        a.admin {
            text-decoration: none;
            color: $color2;
            transition: all .3s ease;
        }

        a.admin:hover {
            color: $color06;
        }

        a.types_work {
            text-decoration: none;
            color: $color3;
            transition: all .3s ease;
        }

        a.types_work:hover {
            color: $color2;
        }
    }


    h2.title_article {
        margin-top: 15px;
        font-family: 'Montserrat', sans-serif;

        a {
            text-decoration: none;
            color: $color3;
            font-size: 2.1rem;;
            transition: all .3s ease;
        }

        a:hover {
            color: $color2;
        }
    }

    p.short_description {
        margin-top: 20px;
        color: $color06;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }

    .button_to_article {
        margin-top: 50px;
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;

        a.link_to_article {
            text-decoration: none;
            background: $color2;
            color: $color1;
            padding: 15px 30px;
            border-radius: 2px;
            transition: all .3s ease;

            i {
                margin-left: 15px;
            }
        }

        a.link_to_article:hover {
            background: $color07;
        }
    }
}
.button_nav {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    a.page_numbering_button {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border: 1px solid $color4;
        text-align: center;
        color: $color06;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        line-height: 40px;
        transition: all .3s ease;
    }

    a.page_numbering_button:hover {
        background: $color2;
        color: $color1;
    }

    a.page_numbering_next_button {
        color: $color2;
        text-decoration: none;
        margin-left: 15px;
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        transition: all .3s ease;

        i {
            padding-left: 4px;
        }
    }

    a.page_numbering_next_button:hover {
        color: $color06;
    }
}
.main__aside {
    grid-column: 2;
    grid-row: 1/4;
    margin: 5px;


.info_stroka {
    display: block;
    width: 100%;
    min-height: 50px;
    height: 45px;
    left: 50px;
    padding: 20px;
    box-sizing: border-box;
}

.info_stroka input {
    padding: 5px;
}

.ikonka {}

h2:before {
    content: "";
    width: 90%;
    height: 2px;
    background-color: #e3e9ee;
    margin: 5px;
    display: block;
}

.categories li,
a {
    color: #fc5a0a;
    margin-top: 5px;
    list-style: none;

}

.categories a:before {
    content: "\2714";
    margin-right: 7px;
    background-position: center;
    vertical-align: middle;
}

.recent_posts li,
    {
    color: #fc5a0a;
    margin-top: 5px;
    list-style-type: none;
    display: block;
}

.post-data {
    color: #969ba2;
    list-style: none;
    line-height: 2;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    display: block;
}

.recent_posts a:before {
    content: "";
    margin-right: 7px;
    background-position: center;
    vertical-align: middle;
    display: block;

}

.calendar_table {
    margin-bottom: 0;
    width: 100%;
}
}
.calendar_wrap{
    width: 300px;/*временно поставил ширину*/
}
.widget_calendar table {
    width: 100%;
    position: relative;
}
.widget_calendar caption {
    color: #ffffff;
    background-color: #fc5a0a;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}
.widget_calendar th {
    padding: 12px 0;
    font-weight: inherit;
    position: relative;
    color: #1e1d24;
}
.widget_calendar th:after {
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: block;
    border-radius: 50%;
    border: 1px solid #e3e9ee;
    z-index: -1;
    background-color: #f0f4f7;
}
.widget_calendar thead {
    text-align: center;
    border-top: none;
        color: #79787f;
}
.widget_calendar tbody,{
    color: #79787f;
}
.widget_calendar tbody td {
    position: relative;
    text-align: center;
    line-height: 44px;
}
td, th {
    padding: 0;
}
.widget_calendar tbody td:after {
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 1px solid #e3e9ee;
}


a {
    text-decoration: none;
    color: #fc5a0a;
}
.today {
    color: #fc5a0a;
}



/*@import 'common/media.scss';*/