/*Media*/
body {
  margin: 0;
  padding: 0; }

.main {
  display: grid;
  padding: 10px; }
  .main__blog {
    display: grid;
    grid-template-columns: 20% 20%;
    grid-auto-rows: minmax(50%, auto);
    grid-column-gap: 60%;
    background: #f6f6f6; }
    .main__blog-title {
      padding: 40px 0; }
      .main__blog-title p {
        font-family: "Montserrat", Sans-serif;
        font-weight: 400; }
    .main__blog-link {
      padding: 40px 0; }
      .main__blog-link p {
        font-family: "Roboto", Sans-serif;
        font-size: 0.8rem;
        color: #79787F; }
      .main__blog-link a {
        font-family: "Roboto", Sans-serif;
        text-decoration: none;
        color: #79787F;
        font-size: 0.8rem; }
      .main__blog-link a:hover {
        text-decoration: underline; }

@media screen and (min-width: 940px) and (max-width: 1024px) {
  .header .header,
  .main .header {
    display: grid; }
    .header .header__top,
    .main .header__top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: spase-around; }
      .header .header__top-logo,
      .main .header__top-logo {
        grid-column: 1;
        grid-row: 2; }
      .header .header__top-btn,
      .main .header__top-btn {
        grid-column: 3 / 4;
        grid-row: 2; } }
@media screen and (min-width: 769px) and (max-width: 939px) {
  .header .header,
  .main .header {
    display: grid; }
    .header .header__top,
    .main .header__top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: spase-around; }
      .header .header__top-logo,
      .main .header__top-logo {
        grid-column: 1;
        grid-row: 2; }
      .header .header__top-btn,
      .main .header__top-btn {
        grid-column: 3 / 4;
        grid-row: 2; } }
.header .main,
.main .main {
  justify-content: center;
  display: grid;
  padding: 10px; }
  .header .main__blog,
  .main .main__blog {
    display: grid;
    grid-template-columns: 20% 20%;
    grid-auto-rows: minmax(50%, auto);
    grid-column-gap: 60%; }
  .header .main__content,
  .main .main__content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }

/*
    @include tablets {
        width: 90%;
    }

    @include phones {
        width: 90%;
    }
}*/
