$color1: #fff;
$color2: #FC5A0A;
$color3: #1E1D24;
$color4: #F6F6F6;
$width_base: 1100px;

$desctop_max: 2400px;
$desctop_min: 1025px;
$laptop_max: 1024px;
$laptop_min: 940px;
$laptop_mini_max: 939px;
$laptop_mini_min: 769px;
$tablets_max: 768px;
$tablets_min: 481px;
$phones_max: 480px;