
$color1: #fff;
$color2: #FC5A0A;
$color3: #1E1D24;
$color4: #F6F6F6;
$color05: #f0f4f7;
$color06: #79787f;
$color07: #d14c0b;

$width_base: 1100px;

/*
// $desctop_max: 1200px;
// $desctop_min: 993px;

// $laptop_max: 992px;
// $laptop_min: 769px;

// $tablets_max: 768px;
// $tablets_min: 481px;

// $phones_max: 480px;*/